---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import AgentSkill from "../components/AgentSkill.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import TechStack from "../components/TechStack.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<main>
		<Hero />
		<AgentSkill />
		<Features />
		<HowItWorks />
		<TechStack />
		<Footer />
	</main>
</Layout>
